@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    font-family: "Nerko One", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100vw;
    height: 100vh;
}

section#login > div#img{
    display: block;
    background: #6d2c82 url(../imagens/background.avif) no-repeat;
    height: 200px;
    background-size: cover;
    display: none;
}

section#login > div#form{
    display: block;
    padding: 10px;
}

div#form > header{
    text-align: center;
}

div#form > header > img{
    padding-top: 10px;
    width: 150px;
    height: 150px;
}

div#form > header > h1{
    text-align: center;
    padding: 10px;
}

div#form > header > P{
    font-size: 1em;
    text-align: center;
}

form > div.entrar{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3b837f;
}

form > div.entrar > div.entrarc{
    margin: 10px;
    width: 70%;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

form > div.entrar > div#goo > img{
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 7px;
}


form > div.campo{
    margin-top: 15px;
    text-align: center;
}

form > input[type=submit]:hover{
    background-color: #3b837f;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 95%;
    height: 40px;
    color: black;
    text-decoration: none;
}

form > a.botao:hover{
    color: blue;
}

div.campo  > input{
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}