@media screen and (min-width: 768px){

    div#login{
        width: 40vw;
        height: 100vw;
        display: inline;
    }
    form > p > input{
        width: 70%;
    }
    div#img{
        background-image: url(../imagens/background.avif);
        background-size: cover;
        width: 60vw;
        height: 100vh;
        float: right;
        display: inline;
    }
}